.MainContent{
    display: flex;
    align-content: stretch;
    flex:8 0 0;
    flex-flow:column;
}

.MusicList{
  display: flex;
  flex : 1 1 auto;
  flex-flow : row;
  flex-wrap : wrap;
  justify-content: center;

}
.headMusicLine{
  flex : 1 1 auto;
  flex-flow:row;
  display:flex;
  width : 100%;
  justify-content: space-around;
}
.titleMusicLine{
  grid-area: a;
  align-items: center;
}
.albumMusicLine{
  grid-area: b;
}
.groupeMusicLine{
  grid-area: c;
}
.playButtonMusicLine{
  grid-area: d;
}
.playNextMusicLine{
  grid-area: e;
}
.musicLineContent:hover{
  background-color:#e6e4e4;
}
.musicLineContent{
  flex : 1 1 auto;
  flex-flow:row;
  display:flex;
  width : 100%;
  justify-content: space-around;
}

.playlistLine{
  flex-flow:row;
  display:flex;
  justify-content:center;
}

.playlistLine:hover{
  background-color:#e6e4e4;
}

.musicLine{
  /*width : 70%;
  flex-flow:row;
  display:flex;
  justify-content:space-evenly;*/
  width : 70%;
  display : grid;
  grid-template-areas:"a b c d e";
  align-items: start;
  grid-gap:10px;
  grid-auto-columns: 150px;
  justify-content: space-between;

}

.flex{
  flex : 0 0 auto;
}

.albumRow{
  display:flex;
  flex: 1 1 0;
  flex-flow: column;
  max-width:150px;
}

.albumRow:hover{
  background-color: #6e8f8f;
}

.albumRowContentimg{
  flex: 1 1 0;
}
.albumRowContent{
  flex-grow:1;
  flex-shrink:1;
  flex-basis:0px;
}
.AlbumRows{
  /*flex-grow:1;
  flex-shrink:1;
  flex-basis:0px;*/
  overflow-x:auto;
}
.AlbumContent{
  display:flex;
  /*flex-grow:1;
  flex-shrink:1;
  flex-basis:0px;*/
  flex-flow:row;
  border: 1px solid #000000;
  justify-content:space-evenly;
}
.AlbumList{
  display:flex;
  flex-flow:column;
  overflow:hidden;
}
.artisteRow{
  display:flex;
  flex: 1 1 0;
  flex-flow: column;
  max-width:150px;
}

.artisteRow:hover{
  background-color: #6e8f8f;
}

.artisteRowContent{
  flex-grow:1;
    flex-shrink:1;
    flex-basis:0px;
}
.ArtisteRows{

  overflow-x:auto;
}
.ArtisteContent{
  display:flex;
  flex-flow:row;
  border: 1px solid #000000;
  justify-content:space-evenly;
}
.ArtisteList{
  display:flex;
  flex-flow:column;
  overflow:hidden;
}
