
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  text-align: center;
  height:100%;
  display:flex;
  align-content: stretch;
  flex-direction: column;
}

.Header{
  display:flex;
  flex: 1 0 0;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  background-color: #188021;
  color: #ffffff;
}

.SearchHeaderBlock{
  height:100%;
  flex:6 0 0;
  display:flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
}

.Recherche{
  border:none;
  flex:1 0 0;
  background-color: #91d199c9;
  color: #525252;
  height:50%;
}

.RightHeaderBlock{
    flex: 2 0 0;
}

.FullBody{
  flex: 9 0 0;
  display: flex;
  align-content: stretch;
  flex-direction: row;
}

.LeftMenuBar{
  display: flex;
  align-content: stretch;
  flex-direction: column;
  flex:1 0 0;
}

.Body{
  display: flex;
  align-content: stretch;
  flex:7 0 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
